extends layout.pug
block content
  h1 表單列表
  hr
  .col-6
    ul.list-group
      a(href="/common_pages/common_page_01.html")
        li.list-group-item 產品資料卡
      a(href="/atc_check_page.html")
        li.list-group-item 出機檢查成績表