extends layout.pug
block content
  h1 雙軸產品
  hr
  ul.list-group
    a(href="./double_pages_list.html") 
      li.list-group-item AT-380CR
    li.list-group-item AT-350ACR
    li.list-group-item AT-320S